kind: Deployment
apiVersion: apps/v1
metadata:
  name: bhq-stats
  namespace: baseball
  labels:
    app: bhq-stats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bhq-stats
  template:
    metadata:
      labels:
        app: bhq-stats
    spec:
      containers:
      - name: bhq-stats
        image: nschultz/fantasy-baseball-bhq-stats:0.6.0
        volumeMounts:
        - name: bhq-stats-data-volume
          mountPath: "/app/data"
        ports:
          - name: web
            containerPort: 8080
        livenessProbe:
          httpGet:
            path: /api/health
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
      volumes:
      - name: bhq-stats-data-volume
        persistentVolumeClaim:
          claimName: bhq-stats-data-claim